/* HARRISH GOVIND CODING*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

   background-image: url('IT.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

h1 {
  text-align: center;
  color: white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/
label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}


input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

hr {
  border: 1px solid #ccc;
  margin-top: 30px;
}

/
.footer-contact,
.footer-social {
  color: white;
  text-align: center;
  margin: 20px;
}


.footer-social img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn a {
  color: white;
}

.btn:hover {
  background: white;
}

.footer-contact p {
  color: white;
  font-size: 14px;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin: 0 10px;
}
